html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  bottom: 0; }

.page {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  color: #fff;
  background: #380438; }

.title {
  padding: 30px 0;
  font-size: 60px;
  font-family: 'Tomorrow', sans-serif;
  text-align: center; }

.center {
  -webkit-box-flex: 1;
          flex: 1;
  max-width: 600px; }

.canva {
  display: block;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .canva:active .canva__cover {
    display: none; }
  .canva__cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid green; }

.option[name='color'][value="red"]:checked ~ .canva .cell:hover {
  background-color: red; }

.option[name='color'][value="green"]:checked ~ .canva .cell:hover {
  background-color: green; }

.option[name='color'][value="blue"]:checked ~ .canva .cell:hover {
  background-color: blue; }

.btn-clean:active ~ .canva .cell {
  background-color: #fff;
  -webkit-transition: all 0s 0s;
  transition: all 0s 0s; }

.row {
  display: -webkit-box;
  display: flex; }

.col {
  -webkit-box-flex: 1;
          flex: 1; }

.cell {
  padding-bottom: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  -webkit-transition: background 0s 1000000s;
  transition: background 0s 1000000s; }
  .cell:hover {
    background-color: #fff;
    -webkit-transition: all 0s 0s;
    transition: all 0s 0s; }
