*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 15px; }

html, body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

.page {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  min-height: 100%;
  padding: 30px 0;
  font-family: 'Tomorrow', sans-serif;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#64C8BD), to(#094A6F));
  background: linear-gradient(to bottom, #64C8BD, #094A6F); }

.title {
  margin-bottom: 30px;
  font-size: 60px;
  text-align: center; }

.center {
  -webkit-box-flex: 1;
          flex: 1;
  max-width: 600px; }

.canva {
  display: block;
  position: relative;
  margin-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .canva:active .canva__cover {
    display: none; }
  .canva__cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.clearfix {
  display: table;
  clear: both; }

.btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: inherit;
  color: #333;
  background: #fff;
  border: 0;
  cursor: pointer;
  margin-right: 5px; }
  .btn:active {
    background: #eee; }
    .btn:active[action='clean'] ~ .draw-window .cell {
      background: #fff;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="red"] ~ .canva .cell {
      background: #e6261f;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="orange"] ~ .canva .cell {
      background: #eb7532;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="yellow"] ~ .canva .cell {
      background: #f7d038;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="green"] ~ .canva .cell {
      background: #a3e048;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="turquoise"] ~ .canva .cell {
      background: #49da9a;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="cyan"] ~ .canva .cell {
      background: #34bbe6;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="blue"] ~ .canva .cell {
      background: #4355db;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="purple"] ~ .canva .cell {
      background: #d23be7;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="white"] ~ .canva .cell {
      background: #fff;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }
    .btn:active[action='fill'] ~ .draw-window [name='color']:checked[value="black"] ~ .canva .cell {
      background: #000;
      -webkit-transition: all 0s 0s;
      transition: all 0s 0s; }

.input-btn {
  display: none; }
  .input-btn + label {
    height: 30px;
    padding: 0 10px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #fff;
    cursor: pointer; }
  .input-btn:checked + label {
    color: #333;
    background: #fff; }
  .input-btn_option + label {
    margin-left: 5px;
    float: right; }

.option[name='smooth']:checked ~ .draw-window .cell:hover {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms; }

.option[name='rounded']:checked ~ .draw-window .cell {
  border-radius: 50%; }

.option[name='color'][value="red"]:checked ~ .canva .cell:hover {
  background: #e6261f; }

.option[name='color'][value="orange"]:checked ~ .canva .cell:hover {
  background: #eb7532; }

.option[name='color'][value="yellow"]:checked ~ .canva .cell:hover {
  background: #f7d038; }

.option[name='color'][value="green"]:checked ~ .canva .cell:hover {
  background: #a3e048; }

.option[name='color'][value="turquoise"]:checked ~ .canva .cell:hover {
  background: #49da9a; }

.option[name='color'][value="cyan"]:checked ~ .canva .cell:hover {
  background: #34bbe6; }

.option[name='color'][value="blue"]:checked ~ .canva .cell:hover {
  background: #4355db; }

.option[name='color'][value="purple"]:checked ~ .canva .cell:hover {
  background: #d23be7; }

.option[name='color'][value="white"]:checked ~ .canva .cell:hover {
  background: #fff; }

.option[name='color'][value="black"]:checked ~ .canva .cell:hover {
  background: #000; }

.draw-window {
  position: relative; }

.color {
  display: none; }
  .color + label {
    position: absolute;
    left: -40px;
    float: right;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-top: -35px;
    border: 1px solid #333;
    cursor: 10; }
    .color + label:nth-child(2) {
      top: 35px; }
    .color + label:nth-child(4) {
      top: 70px; }
    .color + label:nth-child(6) {
      top: 105px; }
    .color + label:nth-child(8) {
      top: 140px; }
    .color + label:nth-child(10) {
      top: 175px; }
    .color + label:nth-child(12) {
      top: 210px; }
    .color + label:nth-child(14) {
      top: 245px; }
    .color + label:nth-child(16) {
      top: 280px; }
    .color + label:nth-child(18) {
      top: 315px; }
    .color + label:nth-child(20) {
      top: 350px; }
    .color + label:nth-child(22) {
      top: 385px; }
  .color:checked + label {
    box-shadow: 0 0 1px 2px #10fdff; }
  .color[value="red"] + label {
    background: #e6261f; }
  .color[value="orange"] + label {
    background: #eb7532; }
  .color[value="yellow"] + label {
    background: #f7d038; }
  .color[value="green"] + label {
    background: #a3e048; }
  .color[value="turquoise"] + label {
    background: #49da9a; }
  .color[value="cyan"] + label {
    background: #34bbe6; }
  .color[value="blue"] + label {
    background: #4355db; }
  .color[value="purple"] + label {
    background: #d23be7; }
  .color[value="white"] + label {
    background: #fff; }
  .color[value="black"] + label {
    background: #000; }

.row {
  display: -webkit-box;
  display: flex; }

.col {
  -webkit-box-flex: 1;
          flex: 1; }

.cell {
  padding-bottom: 100%;
  background: rgba(255, 255, 255, 0.99);
  border-radius: 0;
  -webkit-transition: background 0s 1000000s;
  transition: background 0s 1000000s; }
  .cell:hover {
    background: #fff;
    -webkit-transition: all 0s 0s;
    transition: all 0s 0s; }
