html
head
    link(href='https://fonts.googleapis.com/css?family=Tomorrow:400,700&display=swap' rel='stylesheet')
    link(href='style.css' rel='stylesheet')
body
- var size = 50;
- var n = 0;
- var k = 0;

.page
    .center
        .title CSS pure draw
        button.btn-clean Clean
        input.option(type='radio' name="color" value='red' id='option_color_red')
        label(for='option_color_red') Red
        input.option(type='radio' name="color" value='yellow' id='option_color_yellow')
        label(for='option_color_yellow') Yellow
        input.option(type='radio' checked name="color" value='white' id='option_color_white')
        label(for='option_color_white') White
        input.option(type='radio' name="color" value='black' id='option_color_black')
        label(for='option_color_black') Black
        .canva
            while n < size
                - n++
                .row
                    -k = 0;
                    while k < size
                        - k++
                        .col
                            .cell
            .canva__cover
