// -------------------------------------
//   region variables
// -------------------------------------
$colors: (
        red: #d01012,
        yellow: #f6ec36,
        white: #fff,
        black: #000
);

$bth-height: 30px;
// endregion variables

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-family: 'Tomorrow', sans-serif;
  color: #fff;

  background: linear-gradient(to bottom, #64C8BD, #094A6F);
}

.title {
  padding: 30px 0;

  font-size: 60px;
  text-align: center;
}

.center {
  flex: 1;
  max-width: 600px;
}

.canva {
  $block: &;

  display: block;
  position: relative;
  margin-top: 10px;

  user-select: none;

  &:active {

    #{$block}__cover {
      display: none;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.clearfix {
  display: table;
  clear: both;
}

.btn {
  height: $bth-height;
  padding: 5px 10px;

  font-size: 16px;
  font-family: inherit;
  color: #333;

  background: #fff;
  border: 0;

  cursor: pointer;

  margin-right: 5px;

  &:active {
    background: #eee;

    &[action='clean'] ~ .canva .cell {
      background-color: #fff;
      transition: all 0s 0s;
    }

    &[action='fill'] {
      & ~ [name='color']:checked {

        @each $key, $color in $colors {

          &[value="#{$key}"] {

            & ~ .canva .cell {
              background-color: $color;
              transition: all 0s 0s;
            }
          }
        }
      }
    }
  }
}

.input-btn {
  display: none;

  & + label {
    height: $bth-height;
    padding: 0 10px;

    font-size: 16px;
    line-height: $bth-height - 2px;
    border: 1px solid #fff;

    cursor: pointer;
  }

  &:checked + label {
    color: #333;

    background: #fff;
  }

  &_smooth {
    & + label {
      float: right;
    }
  }
}


.option {

  &[name='smooth'] {

    &:checked ~ .canva .cell:hover {
      transition-duration: 100ms;
    }
  }

  &[name='color'] {
    display: none;

    & + label {
      float: right;
      display: inline-block;
      width: $bth-height;
      height: $bth-height;
      margin-left: 5px;

      border: 1px solid #333;

      cursor: pointer;
    }

    @each $key, $color in $colors {

      &[value="#{$key}"] {

        & + label {
          background: $color;
        }

        &:checked {

          & + label {
            box-shadow: 0 0 1px 2px #10fdff;
          }

          & ~ .canva {

            .cell:hover {
              background-color: $color;
            }
          }
        }
      }
    }
  }
}


.row {
  display: flex;
}

.col {
  flex: 1;
}

.cell {
  padding-bottom: 100%;

  background-color: rgba(#fff, 0.99);

  transition: background 0s 1000000s;

  &:hover {
    background-color: #fff;

    transition: all 0s 0s;
  }
}
